body{
font-family:Arial;
background:#f4f6f9;
padding:20px;
}

.card{
background:white;
padding:15px;
margin:10px 0;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.dashboard-cards{
display:flex;
gap:20px;
}

button{
background:#28a745;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
}

input{
padding:8px;
margin:5px 0;
}
/* SOLO PARA EL LOGIN */
.login-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f2f2f2;
    position: relative;
}

/* Logo como marca de agua */
.login-body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    opacity: 0.08;
    z-index: -1;
}

/* Centrar formulario */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Caja del login */
.login-container input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 250px;
}

.login-container button {
    padding: 10px 20px;
    background: #28a745;
    border: none;
    color: white;
    cursor: pointer;
}

.detalle{
    margin-top:10px;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.venta:hover{
    background:#f5f5f5;
    transition:0.3s;
}

/* ===== ALERTA DE STOCK BAJO ===== */
.stock-bajo {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Botón eliminar */
.btn-eliminar {
    background: #000000;
    margin-left: 10px;
}

.btn-eliminar:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* Stock bajo (≤3) */
.stock-bajo {
    background: #fff1f1;        /* rojo suave */
    border-left: 5px solid #e57373;
}

.btn-volver{
    background:#6c757d;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:5px;
    cursor:pointer;
    margin-bottom:10px;
}